<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
  <title></title>
<link rel="stylesheet" type="text/css" href="asinvotes.css">
</head>
<body>
  <div id="wrapper">
    <div id="columns">

      <div class="pin">
	<img alt="title" class="product" src="http://ecx.images-amazon.com/images/I/5123aAdG-kL._SL190_CR0,0,190,246_.jpg"/>
	<p class="title">Blue Purse</p>
	<div class="votes">
	  <span class="positive">6</span>
	  <img class="like" src="img_trans.gif" alt="like"/>
	  <span class="likes">15</span>
	  <img class="dislike" src="img_trans.gif" alt="dislike"/>
	  <span class="dislikes">9</span>
	</div>
      </div>
      
      <div class="pin">
	<img class="product" alt="title" src="http://ecx.images-amazon.com/images/I/51IGghWG6hL._SL190_CR0,0,190,246_.jpg" />
	<p class="title">Blue Purse</p>
	<div class="votes">
	  <span class="positive">6</span>
	  <img class="like" src="img_trans.gif" alt="like"/>
	  <span class="likes">15</span>
	  <img class="dislike" src="img_trans.gif" alt="dislike"/>
	  <span class="dislikes">9</span>
	</div>
      </div>
      
      <div class="pin">
	<img class="product" alt="title" src="http://ecx.images-amazon.com/images/I/41k%2BpePyPqL.jpg" />
	<p class="title">Blue Purse</p>
	<div class="votes">
	  <span class="positive">6</span>
	  <img class="like" src="img_trans.gif" alt="like"/>
	  <span class="likes">15</span>
	  <img class="dislike" src="img_trans.gif" alt="dislike"/>
	  <span class="dislikes">9</span>
	</div>

      </div>
      
      <div class="pin">

	<img class="product" alt="title" src="http://ecx.images-amazon.com/images/I/51gIeZjPgkL._SL190_SY246_CR0,0,190,246_.jpg" />
	<p class="title">Blue Purse</p>
	<div class="votes">
	  <span class="negative">-2</span>
	  <img class="like" src="img_trans.gif" alt="like"/>
	  <span class="likes">3</span>
	  <img class="dislike" src="img_trans.gif" alt="dislike"/>
	  <span class="dislikes">5</span>
	</div>
      </div>
      
      <div class="pin">
	<img class="product" alt="title" src="http://ecx.images-amazon.com/images/I/51IGghWG6hL._SL190_CR0,0,190,246_.jpg" />
	<p class="title">Blue Purse</p>
	<div class="votes">
	  <span class="positive">6</span>
	  <img class="like" src="img_trans.gif" alt="like"/>
	  <span class="likes">15</span>
	  <img class="dislike" src="img_trans.gif" alt="dislike"/>
	  <span class="dislikes">9</span>
	</div>
      </div>
      
      <div class="pin">
	<img class="product" alt="title" src="http://ecx.images-amazon.com/images/I/41k%2BpePyPqL.jpg" />
	<p class="title">Blue Purse</p>
	<div class="votes">
	  <span class="positive">6</span>
	  <img class="like" src="img_trans.gif" alt="like"/>
	  <span class="likes">15</span>
	  <img class="dislike" src="img_trans.gif" alt="dislike"/>
	  <span class="dislikes">9</span>
	</div>
      </div>	
      
      <div class="pin">
	<img class="product" alt="title" src="http://ecx.images-amazon.com/images/I/51gIeZjPgkL._SL190_SY246_CR0,0,190,246_.jpg" />
	<p class="title">Blue Purse</p>
	<div class="votes">
	  <span class="positive">6</span>
	  <img class="like" src="img_trans.gif" alt="like"/>
	  <span class="likes">15</span>
	  <img class="dislike" src="img_trans.gif" alt="dislike"/>
	  <span class="dislikes">9</span>
	</div>
      </div>
      
      <div class="pin">
	<img class="product" alt="title" src="http://ecx.images-amazon.com/images/I/41k%2BpePyPqL.jpg" />
	<p class="title">Blue Purse</p>
	<div class="votes">
	  <span class="positive">6</span>
	  <img class="like" src="img_trans.gif" alt="like"/>
	  <span class="likes">15</span>
	  <img class="dislike" src="img_trans.gif" alt="dislike"/>
	  <span class="dislikes">9</span>
	</div>
      </div>	
      
      <div class="pin">
	<img class="product" alt="title" src="http://ecx.images-amazon.com/images/I/5123aAdG-kL._SL190_CR0,0,190,246_.jpg" />
	<p class="title">Blue Purse</p>
	<div class="votes">
	  <span class="positive">6</span>
	  <img class="like" src="img_trans.gif" alt="like"/>
	  <span class="likes">15</span>
	  <img class="dislike" src="img_trans.gif" alt="dislike"/>
	  <span class="dislikes">9</span>
	</div>
      </div>
      
      <div class="pin">
	<img class="product" alt="title" src="http://ecx.images-amazon.com/images/I/51IGghWG6hL._SL190_CR0,0,190,246_.jpg" />
	<p class="title">Blue Purse</p>
	<div class="votes">
	  <span class="positive">6</span>
	  <img class="like" src="img_trans.gif" alt="like"/>
	  <span class="likes">15</span>
	  <img class="dislike" src="img_trans.gif" alt="dislike"/>
	  <span class="dislikes">9</span>
	</div>
      </div>
      
      <div class="pin">
	<img class="product" alt="title" src="http://ecx.images-amazon.com/images/I/41k%2BpePyPqL.jpg" />
	<p class="title">Blue Purse</p>
	<div class="votes">
	  <span class="positive">6</span>
	  <img class="like" src="img_trans.gif" alt="like"/>
	  <span class="likes">15</span>
	  <img class="dislike" src="img_trans.gif" alt="dislike"/>
	  <span class="dislikes">9</span>
	</div>
      </div>
    </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="asinvotes.js"></script>
</body>
</html>
